<div class="login-page">
  <div class="login-container">
    <div class="welcome-section">
      <h2 class="welcome-title">Welcome to Fletnix!</h2>
      <p class="welcome-text">Login to enjoy your personalized movie streaming experience!</p>
      <button class="sign-up-button" routerLink="/register">Register</button>
    </div>
    <div class="form-section">
      <h2 class="form-title">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Enter your email" />
          <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter your password" />
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password must be at least 6 characters.
          </mat-error>
        </mat-form-field>

        <div class="form-actions">
          <button  color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
          <p class="register-text">
            Don't have an account?
            <a routerLink="/register" class="register-link">Register here</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>